/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2018-maj-22, 16:02:43
    Author     : Björn Solman
*/
#mainBody{
    background-image: URL(https://s-i.huffpost.com/gen/1717057/images/o-RUNNERS-facebook.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#mainDiv{

    height: 1080px;
    width: 1920px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    background-color: white;
    font-family: 'Galada', cursive;
    color: #8d453d;
	margin-left: -8px;
	z-index: 1;
	float: left;
	height: 80px;
}

#logo{
	text-align: center;
	font-size: 50px;
	margin-left:45%;
	margin-top: 4px;
}

#deleteEventBtn
{
  margin-top: 8px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin-left: 695px;
}

#textDiv{
    margin-top: 300px;
    border-radius: 30px;
    background: white;
    padding: 20px;
    width: 800px;
    height: 600px;
    opacity: .9;
    margin-left: 5%;
    border: 1px solid black
}

#AdminBox{
  margin-top: 300px;
  border-radius: 30px;
  background: white;
  padding: 20px;
  width: 800px;
  height: 800px;
  opacity: .9;
  margin-left: 5%;
  border: 1px solid black
}


#eventBox{
  margin-top: 32px;
  width: 800px;
  height: 200px;
  margin-left: -1%;
  overflow:scroll;
}

h1{
    text-align: center;
    float: left;
}

h2{
	font-size: xx-large;
    font-family: 'Galada', cursive;
    color: #8d453d;
	margin-left: 33%;
}

h3{
    text-align: center;
    font-size: xx-large;
    font-family: 'Galada', cursive;
    color: #8d453d;
}

h4 {
	margin-left: 33%;
}
h5{
	font-size: 20px;
        color: #8d453d
}
#text{
    float:right;
	padding-right: 25px;
	margin-top: 28px;
	font-family: 'Ubuntu', sans-serif;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#attendBtn{
    margin-top: 200px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-left: 700px;
}

#createEventBtn{
	margin-top:10px;
}

#columnDiv{
	margin-left: -45%;
	font-family: arial;
}

#eventName{
	width: 35%;
	padding: 4px 4px;
    box-sizing: border-box;
}
#location{
	width: 35%;
	padding: 4px 4px;

    box-sizing: border-box;
}
#descr{
	width: 35%;
	height: 75px;
	font-family: arial;
}

footer{
    width: 1920px;
    opacity: 0.85;
    background-color: black;
    height: 95px;
    bottom: 0;
	position: relative;
	margin-left: -8px;
	margin-bottom: -20px;
}

#profile{
	border-radius: 30px;
	background: white;
	padding: 20px 20px;
	width: 600px;
	height: 600px;
	opacity: .9;
	margin-left: 2%;
	border: 1px solid black;
	float: left;
	margin-top: 300px;
}
#events{
	float:right;
	border-radius: 30px;
	background: white;
	padding: 20px 20px;
	width: 600px;
	height: 600px;
	opacity: .9;
	border: 1px solid black;
	margin-right: 28%;
	margin-top: 300px;
}
#runEvents{
	float:right;
	border-radius: 30px;
	background: white;
	padding: 20px 20px;
	width: 600px;
	height: 600px;
	opacity: .9;
	border: 1px solid black;
	margin-right: 33%;
	margin-top: 300px;
}
#startText{
	float: left;
	height: 800px;
	width: 800px;
	text-align: center;
	margin-left: 30%;
}
#contentText1 {
	font-family: 'Ubuntu', sans-serif;
	color: black;
	font-size: 45px;
	opacity: 1;
	width: 100%;
	margin-top: 55%;
}
#contentText2 {
	font-family: 'Ubuntu', sans-serif;
	color: black;
	font-size: 30px;
	opacity: 1;
	width: 100%;
}

#myFilter {
    background-image: url('searchicon.png'); /* Add a search icon to input */
    background-position: 10px 8px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
	background-size: 30px 30px;
    width: 75%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

